<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="ra-r">
      <div class="tp">
      <nav>
          <a class="thumb-pr mn" href="/bookings/create">Create a booking</a>
          <a class="thumb-pr r-e" href="/bookings/view">View all bookings</a>
          <a class="thumb-pr mn" href="/bookings/update">Modify a booking</a> 
          <a class="thumb-pr r-e" href="/bookings/find">Search for a Booking Report</a> 
          <a class="thumb-pr mn" href="/workshops">Scheduled workshops</a> 
          <a class="thumb-pr r-e" href="/about">~Our Story Here~</a> 
          <a class="thumb-pr mn" href="/help">Need some help?</a> 
      </nav>
  </div>
</div>
    <p>We are a family run company that was founded in 1970. <br>
      Teaching people is our labour of love <br>
      We host workshops for beginners and experts alike. <br>
      All are welcome and we are delighted to see our students knowledge and interest grow as
      it is our true passion.</p>
    <p>We host our workshops in Cork. For workshop requests email  
      <a href="mailto:corkcreate@gmail.com">corkcreate@gmail.com</a></p>
      <h2>Where the magic happens</h2>
      <div class="row">
        <div class="column">
          <!-- Image Source: https://bradfrost.com/blog/post/the-workshop-and-the-storefront/ -->
          <img src="/images/workshop1.jpg" class="rectangle-image">
          <!-- Image Source: https://naplestalon.com/2022/05/why-schools-should-bring-back-home-economics/ -->
          <img src="/images/workshop2.jpg" class="square-image">
        </div>
        <div class="column">
          <!-- Image Source: https://mayfieldcommunityschool.ie/subjects/metalwork/ -->
          <img src="/images/workshop3.jpg" class="rectangle-image">
          <!-- Image Source: https://my.matterport.com/show/?m=Tnj4h6Qmfw5 -->
          <img src="/images/workshop4.png" class="rectangle-image">
          <!-- Image Source:  https://125livemn.org/history/ -->
          <img src="/images/busybees.png" class="special-image">
        </div>

</body>
</html>
