<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="ra-r">
      <div class="tp">
      <nav>
          <a class="thumb-pr mn" href="/bookings/create">Create a booking</a>
          <a class="thumb-pr r-e" href="/bookings/view">View all bookings</a>
          <a class="thumb-pr mn" href="/bookings/update">Modify a booking</a> 
          <a class="thumb-pr r-e" href="/bookings/find">Search for a Booking Report</a> 
          <a class="thumb-pr mn" href="/workshops">Scheduled workshops</a> 
          <a class="thumb-pr r-e" href="/about">~Our Story Here~</a> 
          <a class="thumb-pr mn" href="/help">Need some help?</a> 
      </nav>
  </div>
</div>
    <h2>How do I make a booking?</h2>
    <p>You can click create a booking on the navigation tab or click <a href="/bookings/create">here</a></p>
    <h2>Can I make a booking in person instead?</h2>
    <p>Of course! We are happy to take bookings in person, just drop by to our workshop Monday-Friday before 1pm</p>
    <h2>Can I change my booking details</h2>
    <p>Yes you can. You can click modify a booking on the navigation tab or click <a href="/bookings/update">here</a></p>
    <h2>Do you have an email?</h2>
    <p>Yes, feel free to get in touch at <a href="mailto:corkcreate@gmail.com">corkcreate@gmail.com</a></p>
  </body>
</html>
