<div class="wrapper">
    <html>
    <h1><%= title %></h1>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
    </head>
    <div class="ra-r">
        <div class="tp">
        <nav>
            <a class="thumb-pr mn" href="/bookings/create">Create a booking</a>
            <a class="thumb-pr r-e" href="/bookings/view">View all bookings</a>
            <a class="thumb-pr mn" href="/bookings/update">Modify a booking</a> 
            <a class="thumb-pr r-e" href="/bookings/find">Search for a Booking Report</a> 
            <a class="thumb-pr mn" href="/workshops">Scheduled workshops</a> 
            <a class="thumb-pr r-e" href="/about">~Our Story Here~</a> 
            <a class="thumb-pr mn" href="/help">Need some help?</a> 
        </nav>
    </div>
</div>
<body>
  <br> <br> <br>
    <div class="row">
        <div class="column">
          <!-- Image Source:  https://tonies.com/en-gb/tonies-for-teachers/ -->
          <img src="/images/classroom.jpg" class="rectangle-image">
          <!-- Image Source: https://www.es-promotions.com/our-services/team-building-ideas/parachutes -->
          <img src="/images/parachute.jpg" class="rectangle-image">
          <!-- Image Source: https://www.lollamac.co.uk/item/silver-earrings-workshop/ -->
          <img src="/images/Pendant-Making.jpg" class="square-image">
        </div>
        <div class="column">
          <!-- Image Source: https://www.viator.com/en-IE/tours/Seoul/Small-Group-Korean-Cooking-Class-in-Seoul/d973-50922P1 -->
          <img src="/images/cooking.jpg" class="rectangle-image">
          <!-- Image Source:  https://www.pexels.com/photo/selective-focus-photography-of-person-molding-clay-22823/ -->
          <img src="/images/clay.jpg" class="rectangle-image">
          <!-- Image Source:  https://www.bakersbrew.com/corporate-baking-workshops -->
          <img src="/images/baking.jpg" class="square-image">
        </div>
        <div class="column">
          <!-- Image Source: https://nowhere-land.dk/animation-laboratory -->
          <img src="/images/stopmotion.jpg">
          <!-- Image Source: https://www.freepik.com/premium-photo/group-people-working-eletronic-repair-shop_3638144.htm -->
          <img src="/images/electronicsworkshop.jpg">

          <!-- Image Source: https://lakedistrictfarmersarms.com/whats-on/drop-in-clay-construction-workshops-for-all-ages/ -->
          <img src="/images/clayworkshop.jpg">
        </div>
        <div class="column">
          <!-- Image Source: https://www.facebook.com/photo/?fbid=819315906872296&set=pb.100063816831106.-2207520000 -->
          <img src="/images/cakes.jpg">
          <!-- Image Source: https://www.nuggetmarket.com/gallery/media/1287/ -->
          <img src="/images/bakingworkshop.jpg">
          <!-- Image Source:  https://eu.citizen-times.com/story/life/family/2018/01/29/artists-muse-creating-together-arts-crafts/1021428001/ -->
          <img src="/images/art.png">

        </div>
      </div>
</body>
</html>