<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
  </head>
    <div class="wrapper">
        <h1><%= title %></h1>
        <div class="ra-r">
          <div class="tp">
          <nav>
              <a class="thumb-pr mn" href="/bookings/create">Create a booking</a>
              <a class="thumb-pr r-e" href="/bookings/view">View all bookings</a>
              <a class="thumb-pr mn" href="/bookings/update">Modify a booking</a> 
              <a class="thumb-pr r-e" href="/bookings/find">Search for a Booking Report</a> 
              <a class="thumb-pr mn" href="/workshops">Scheduled workshops</a> 
              <a class="thumb-pr r-e" href="/about">~Our Story Here~</a> 
              <a class="thumb-pr mn" href="/help">Need some help?</a> 
          </nav>
      </div>
  </div>
        <p>There was no bookings found with the details you provided. </p>
            <p>Make sure you spelled your name correctly and chose the correct date.</p>
            <a href="/bookings/find" class="button">Try again</a>
        </body>
    </div>
</div>
</html>
