<div class="wrapper">
    <html>
    <h1><%= title %></h1>
    <div class="ra-r">
      <div class="tp">
      <nav>
          <a class="thumb-pr mn" href="/bookings/create">Create a booking</a>
          <a class="thumb-pr r-e" href="/bookings/view">View all bookings</a>
          <a class="thumb-pr mn" href="/bookings/update">Modify a booking</a> 
          <a class="thumb-pr r-e" href="/bookings/find">Search for a Booking Report</a> 
          <a class="thumb-pr mn" href="/workshops">Scheduled workshops</a> 
          <a class="thumb-pr r-e" href="/about">~Our Story Here~</a> 
          <a class="thumb-pr mn" href="/help">Need some help?</a> 
      </nav>
  </div>
</div>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
    </head>
    <br>
                 <!-- Column 1 -->
                 <div id="cols-group">
                    <div class="inner-cols">
                       <h3>Baking Workshop</h3>
                       <!-- Image Source: https://www.bostongirlbakes.com/vanilla-oreo-cupcakes/ -->
                       <p>
                          <img src="images/cupcake.jpg" alt="Oreo Cupcake" width="290" height="260"></a>
                       </p> <br>
                       <p>This workshop is ideal for young and young at heart. </p>
                        <p>In this workshop you will learn how to bake cupcakes, cakes and bread. </p>
                           <p>A great family activity for all to enjoy.</p>
                           <p>This workshop is availabe daily at 9am, 2pm and 4pm</p>
                    </div>
                    <!-- Column 2 -->
                    <div class="inner-cols">
                       <h3>Electronic Repair Workshop</h3>
                       <!-- Image Source: https://dreeyoreshospital.net/Teddy_Ruxpin-fix-2.html -->
                       <p><img src="images/electronics.jpg" alt="Electonic Repair" width="290" height="289"></a>
                       </p>
                       <br>
                       <p>This workshop is ideal for all levels of skill as everyone will learn something new.
                       </p>
                       <p>This workshop covers repairs you could do on common household items ranging from fridges, blenders to toys.</p>
                       <p>This workshop is availabe daily at 9am, 2pm and 4pm</p>
                     </div>
                    <!-- Column 3 -->
                    <div class="inner-cols">
                       <h3>Jewellery Making Workshop</h3>
                       <!-- Image Source: https://www.johnacademy.co.uk/course/diploma-in-jewellery-making/ -->
                          <img src="images/jewellery.jpg" alt="Jewellery Making" width="350" height="269"></a>
                       </p>
                       <p>You will be taught the best techniques to bend, form, cut and fabricate diferent types of metal along with polishing and texturing it.</p>
                       <p>All materials are provided. If you would like to practice with silver instead of copper you can purchase it on the day.</p>
                       <p>This workshop is not suitable for beginners but look out for our beginners workshop coming soon.</p>
                       <p>This workshop is availabe daily at 9am, 2pm and 4pm</p>
                    </div>
        </div>
</html>